{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div class="content-left ex-bottom">
			<h3>BIOGRAFÍA</h3>
			<div class="top-margin">
				<p>
					&nbsp;Rafael Clemente....
				</p>
				<p>
					&nbsp;
				</p>
				<p>
					a
				</p>
				<p>
					a
				</p>
				<p>
					a
				</p>
				<p>
					a
				</p>
				<p>
					a
				</p>
				<p>
					a
				</p>
				<p>
					&nbsp;
				</p>
			</div>
		</div>
		<div class="content-right ex-top">
			<a title="Biografía" rel="lightbox" href="http://www.rafaelclementeart.es/uploads/media/dd8975acd26c4108a7663aaf3a1d76de.jpg"><img alt="Biografía" src="http://www.rafaelclementeart.es/uploads/media/small/dd8975acd26c4108a7663aaf3a1d76de.jpg" /></a>
		</div>
	</div>
	<div class="page-holder">
		<div class="content-line"></div>
	</div>
{%endblock%}