{% extends "ProyectoFrontBundle:Helpers2:base.html.twig" %}
{%block body%}
	<body>
		<div>
			<div class="share-cont">
				{% include 'ProyectoFrontBundle:Helpers2:social.html.twig' with { 'idpage': idpage} %}
			</div>
			<div class="header">
				<div class="line-logo"></div>
				<div class="menu-cont">
					<a title="Homepage" id="logo" href="{{path('proyecto_front_homepage')}}"><img alt="Rafael Clemente Logo" src="{{ asset('images/site/logo.png')}}" /></a>

					<ul class="menu menu-normal">
						{% include 'ProyectoFrontBundle:Helpers2:menu-normal.html.twig' with { 'idpage': idpage,'menuElements': menuElements} %}
					</ul>
					{% include 'ProyectoFrontBundle:Helpers2:lenguajes.html.twig' %}
				</div>
			</div>
			{%block contenido%}
			{%endblock%}
			<div id="culture">
				{{app.request.locale}}
			</div>
		</div>
		{% include 'ProyectoFrontBundle:Helpers2:menu-mobile.html.twig' with { 'idpage': idpage,'menuElements': menuElements} %}
	</body>
{%endblock%}