{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div class="content-left">
			<div class="art-content">
				<div class="art-row">
					<div class="art-cell">
						<a title="First press" href="/rafael_clemente/es/press/5/1/first-press.html"><img alt="Test 1" src="http://www.rafaelclementeart.es/uploads/press/small/06cf0493735b9c4d88d2f149a7d87c5d.jpg" /></a>
					</div>
					<div class="art-cell">
						<a title="Second press" href="/rafael_clemente/es/press/5/2/second-press.html"><img alt="Test 2" src="http://www.rafaelclementeart.es/uploads/press/small/e07b0c73a1facf0585df900e4e10261a.jpg" /></a>
					</div>
					<div class="art-cell">
						<a title="Third press" href="/rafael_clemente/es/press/5/3/third-press.html"><img alt="Third Press Photo" src="http://www.rafaelclementeart.es/uploads/press/small/413a98f174ff7f7b7e5b4e718a6cc9f1.jpg" /></a>
					</div>
					<div class="art-cell no-margin">
						<a title="Fourth press" href="/rafael_clemente/es/press/5/4/fourth-press.html"><img alt="Fourth Press Photo" src="http://www.rafaelclementeart.es/uploads/press/small/984b8d2165156325e7de4caf9157efc1.jpg" /></a>
					</div>
				</div>
				<div class="art-row">
					<div class="art-cell">
						<a title="Fifth press" href="/rafael_clemente/es/press/5/5/fifth-press.html"><img alt="Fifth press photo" src="http://www.rafaelclementeart.es/uploads/press/small/4b485d6a7a195d39cc423fd22ce69488.jpg" /></a>
					</div>
					<div class="art-cell">
						<a title="Sixth press" href="/rafael_clemente/es/press/5/6/sixth-press.html"><img alt="Sixth press photo" src="http://www.rafaelclementeart.es/uploads/press/small/9a58eb32d2c4aa87a641ee1ca700dd11.jpg" /></a>
					</div>
					<div class="art-cell">
						<a title="Seventh press" href="/rafael_clemente/es/press/5/7/seventh-press.html"><img alt="Seventh press photo" src="http://www.rafaelclementeart.es/uploads/press/small/8b2bfe80016b2ae205cccadf7a7b9ba6.jpg" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-right">
			<h3>PRENSA</h3>
		</div>
	</div>
	<div class="page-holder">
		<div class="content-line"></div>
	</div>
{%endblock%}