<div class="share-fb">
	<a target="_blank" title="On Facebook" href="http://www.facebook.com/RafaelClemente"> </a>
</div>
<div class="share-tw">
	<a target="_blank" title="On Twitter" href="http://twitter.com/RafaelClemente"> </a>
</div>
<div class="share-in">
	<a target="_blank" title="On LinkedIn" href="http://linkedin.com/in/RafaelClemente"> </a>
</div>