@font-face {
    font-family: 'Swis721LtEU';
    src: url('../fonts/Swis721LtEU/Swis721LtEU.eot');
    src: url('../fonts/Swis721LtEU/Swis721LtEU.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Swis721LtEU/Swis721LtEU.woff') format('woff'),
         url('../fonts/Swis721LtEU/Swis721LtEU.ttf') format('truetype'),
         url('../fonts/Swis721LtEU/Swis721LtEU.svg#Swis721LtEU') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TwCenMT';
    src: url('../fonts/Tw_Cen_MT/Tw_Cen_MT.eot');
    src: url('../fonts/Tw_Cen_MT/Tw_Cen_MT.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tw_Cen_MT/Tw_Cen_MT.woff') format('woff'),
         url('../fonts/Tw_Cen_MT/Tw_Cen_MT.ttf') format('truetype'),
         url('../fonts/Tw_Cen_MT/Tw_Cen_MT.svg#Tw_Cen_MT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TwCenMTBold';
    src: url('../fonts/Tw_Cen_MT_Bold/Tw_Cen_MT_Bold.eot');
    src: url('../fonts/Tw_Cen_MT_Bold/Tw_Cen_MT_Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tw_Cen_MT_Bold/Tw_Cen_MT_Bold.woff') format('woff'),
         url('../fonts/Tw_Cen_MT_Bold/Tw_Cen_MT_Bold.ttf') format('truetype'),
         url('../fonts/Tw_Cen_MT_Bold/Tw_Cen_MT_Bold.svg#Tw_Cen_MT_Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
html{
    overflow: auto;
}

body {
    font-family: "trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #FFF;
}

body, img, p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#culture, .hide{
    display: none;
}

h3, h2{
    font-family: TwCenMTBold;
    font-size: 14px;
}

.top-margin{
    font-family: Swis721LtEU;
    font-size: 14px;
}

.error-404, .info{
    width: inherit;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

a, a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #898989;
}

.page-holder{
    width: 970px;
    margin: 0 auto 20px;
    height: 100%;
}

.header{
    width: 970px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}

.pagin-right, .pagin-left, .art-cell, .content-right, .content-left, .menu, #logo, #langs{
    display: table-cell;
}

.menu, #langs, .content-right{
    vertical-align: bottom;
}

.art-cell, .pagin-right, .pagin-left{
    vertical-align: middle;
}

.content-left{
    vertical-align: top;
}

.menu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 729px;
    text-align: left;
}

.menu .menu-element, .menu .menu-rest{
    /*display: inline-block;*/
    display: table-cell;    
}

.menu-element a, .menu-element{
    font-family: TwCenMT;
    font-size: 13px;
}
.menu-element a{
    display: block;
    padding: 20px 15px 0;
}

.menu .menu-link-cont{
    width: 100%;
    position: relative;
}

.menu .menu-rest{
    width: 100%;
}

.menu .menu-link-cont a:hover, #langs a:hover, .menu-sel a{
    color: #000;
}

#logo, #langs{
    text-align: center;
}    
    
#logo{
    width: 196px;
}

#langs{
    width: 45px;
}

.content{
    margin: 0 auto;
    #width: 774px;
    #padding-left: 196px;
    padding-top: 120px;
    position: relative;
}

.share-cont{
    position: fixed;
    top: 35%;
    right: 0px;
    z-index: 120;
    background-color: rgba(255, 255, 255, 0.3);
}

.share-cont div{
    width: 45px;
    height: 45px;
}

.share-cont div:hover{
    border-bottom: 1px solid #000;
}

.share-cont div a{
    width: inherit;
    height: inherit;
    display: block;
}

.share-cont .share-fb:hover{
    background: url('../images/site/fb_on.png') no-repeat center center;
}

.share-cont .share-fb{
    background: url('../images/site/fb_off.png') no-repeat center center;
}

.share-cont .share-tw:hover{
    background: url('../images/site/twitt_on.png') no-repeat center center;
}

.share-cont .share-tw{
    background: url('../images/site/twitt_off.png') no-repeat center center;
}

.share-cont .share-in:hover{
    background: url('../images/site/in_on.png') no-repeat center center;
}

.share-cont .share-in{
    background: url('../images/site/in_off.png') no-repeat center center;
}

#main-page-slider-cont, #main-page-slider{
    width: 470px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}

.top-margin{
    margin-top: 20px;
}

.content-left{
    width: 428px;
}

.content-right{
    padding-left: 36px;
    width: 269px;
    height: inherit;
}

.content-right h2{
    padding: 0px;
    margin: 0 0 20px 0;
}

.content-right h3{
    padding: 0px;
    margin: 0px;
}

.content-line{
    width: 400px;
    height: 1px;
    background-color: #000;
    float: right;
    margin: 26px 0;
}

.blank-photo{
    height: 392px;
    width: 470px;
}

.links-container{
    margin: 65px 0;
}

.link-cont{
    margin-top: 24px;
}

.link-cont .name a, .link-cont .www a:hover{
    color: #000;
}

.link-cont .name a:hover{
    color: #898989;
}

.art-row{
    padding-top: 22px;
    width: 428px;
}

.art-row .no-margin {
    padding-right: 0;
}

.art-cell{
    width: 90px;
    height: 90px;
    padding-left: 10px;
    float: left;
    padding-bottom: 16px;
}

.art-next, .art-prev{
    cursor: pointer;
    font-family: TwCenMT;
    font-size: 14px;
}

.pagin-right, .pagin-left{
    height: inherit;
    width: 45px;
    text-align: center;
}

.art-content{
    position: relative;
}

.art-paging{
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 0px;
    right: 0px;
}

#layer, #ex-layer{
    position: absolute;
	z-index: 1000;
	background: url("../images/site/background_ajax.png") repeat center center; 
    
    width: inherit;
}

#layer{
    left: 196px;
    top: 120px;
    height: inherit;
}

#ex-layer{
    left: 0px;
    top: 0px;
    height: 105% !important;
}

.indicator{
    z-index: 1100;
	height: inherit;
	widht: inherit;
	background: url("../images/others/ajax-loader.gif") no-repeat center center; 
}

.artwork-navigation{
    display: table-cell;
    height: 45px;
    padding-left: 375px;
    vertical-align: bottom;
    width: 95px;
}

.artwork-one-padd-bottom{
    padding-bottom: 45px;
}

.artwork-one-padd-bottom h4{
    padding: 0 0 50px;
    margin: 0px;
    font-size: 11px;
}

.artwork-one-padd-bottom h3{
    padding: 0;
    margin: 0;
}

.ex-container{
    position: relative;
    height: 458px;
    width: 294px;
}

.ex-cont{
    margin-top: 30px;
}

.ex-cont .name, .ex-cont .date{
    font-size: 14px;
    font-weight: bold;
}

.ex-cont .desc{
    font-size: 12px;
}

.ex-navigation{
    padding: 20px 0 0 0;
}

.ex-navigation .ex-prev, .ex-navigation .ex-next, .press-next, .press-prev{
    cursor: pointer;
    font-family: TwCenMT;
    font-size: 14px;
}
.ex-navigation .ex-prev{
    float: left;
}

.ex-navigation .ex-next{
    float: right;
}

.line-logo, .line-langs, .line-selected, .line-rest, .line-rest-last, .line-menu{
    height: 1px;
    position: absolute;
}

.line-logo, .line-langs, .line-menu, .line-selected{
    background-color: #000;
}

.line-rest, .line-rest-last{
    background-color: #898989;
}
    
.line-logo{
    left: 0px;
    width: 196px;
    bottom: -10px;
}

.line-langs{
    right: 0px;
    width: 45px;
    bottom: -10px;
}

.line-rest{
    right: 0px;
    width: 100%;
    bottom: -20px;
}

.line-rest-last{
    right: 0px;
    width: 100%;
    bottom: -19px;
}

.line-menu{
    left: 0px;
    width: 100%;
    bottom: -11px;
}

.line-selected{
    left: 0px;
    width: 100%;
    bottom: -10px;
}

.langs-rel{
    position: relative;
    height: 14px;
    width: 45px;
}

.langs-rest{
    display: none;
    position: absolute;
    top: 14px;
    left: 0px;
    width: 45px;
    background-color: #FFF;
    z-index: 500;
}

.ex-top{
    vertical-align: top !important;
}

.ex-bottom{
    vertical-align: bottom !important;
}

.ex-bottom h3{
    margin-top: 0px;
}

.link-menu{
    width: 76px;
    text-align: center;
}

@-moz-document url-prefix() {
    .line-rest-last {
        bottom: -21px !important;
    }
    .line-menu {
        bottom: -10px !important;
    }
}

.menu-cont{
    height: 54px;
    display: table-row;
}

.menu-hidden{
    background-color: black;
    color: white;    
    vertical-align: middle;
    display: none;
}
.slicknav_menu {
    display:none;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#contenidoImagen{
    margin-left: auto;
    margin-right: auto;
    width: 470px;
}
.contenidoOculto{
    display: none;
    float: left;
}
.lenguajes-pequenios{
        display: none;
    }
.art-content{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
.art-content-pag{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
        float: left;
        text-align: right;
    }
.contenidoNoOculto{
    width: 100%;
    float: left;
                }

@media screen and (max-width:970px){

    .galeria-normal{
        display: none;
    }
    .galeria-mobile{
        display: block;
    }
    .menu-hidden{
        #display: table-cell;
        #width: 10%;
    }
    .slicknav_menu {
        display: block;
    }
    .menu-normal{
        display: none;
    }
    .content{
        width: 100%;
        padding-top: 30px;
    }
    .contenidoOculto{
        display: block;
    }
    .content-right{
        display: none;
    }
    .titulo-pagina{
        text-align: center;
    }
    .content-left{
        #width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .page-holder{
        display: none;
    }
    .top-margin{
        margin-right: 10px;
        margin-left: 10px;
    }
    .art-content{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .art-content-pag{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .ex-cont{
        margin-right: 10px;
        margin-left: 10px;
    }
    .line-logo{
        display: none;
    }
    .menu-cont{
        margin-left: auto;
        margin-right: auto;
        width: 418px;
    }
    .#main-page-slider-cont, #main-page-slider{
        width: 300px;
    }
    .imagen-inicio{
        width: 300px;
    }
    .header{
        margin-left: auto;
        margin-right: auto;
        width: 282px;
    }
    .lenguajes-pequenios{
        display: block;
    }
}
@media screen and (max-width:970px){

    .header{
        width: 150px;
    }
}