{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div id="main-page-slider-cont">
			<div id="main-page-slider">
				{%for element in gallery%}
					<img alt="{{element.name}}" src="{{ element.getWebPath | apply_filter('my_thumb2') }}" class="imagen-inicio"/>
				{%endfor%}
			</div>
		</div>
	</div>
{%endblock%}
