{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div id="main-page-slider-cont">
			<div id="main-page-slider">
				{%for element in gallery%}
					<img alt="{{element.name}}" src="{{asset(''~ element.getWebPath~ '')}}" class="imagen-inicio" width="470"/>
				{%endfor%}
			</div>
		</div>
	</div>
{%endblock%}
