{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div id="main-page-slider-cont">
			<div id="main-page-slider">
				<img alt="First main page photo" src="http://www.rafaelclementeart.es/uploads/main_page/cropped/e4d11c2411f1577682f9e243d6ef6ef6.jpg" />
				<img alt="Second test photo" src="http://www.rafaelclementeart.es/uploads/main_page/cropped/4fec45039b432eb957e429a4494148aa.jpg" />
				<img alt="Third main page" src="http://www.rafaelclementeart.es/uploads/main_page/cropped/eed69632f8f1a96954d752e38558df54.jpg" />
				<img alt="Fourth main page photo" src="http://www.rafaelclementeart.es/uploads/main_page/cropped/bd8cde2cc149871b45ae6355c1bad3a9.jpg" />
			</div>
		</div>
	</div>
{%endblock%}
